.buttonGitHub{
    margin-top:2vw;
    border-radius: 10%;
    width: 20%;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    .p{
        
        text-decoration: none;
        color: white;
    }
}