.carrousel{
    width: 40vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    div{
        
        image{
            border: solid white 1px;
        }
        p{
            background-color: white;
        }
    }
    
 
}