.geral{
    
    background-color: black;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation-duration: 4s;
    animation-name: opacidade;
    .img{
        width: 200px;
        height: 200px;
    }
 
}
    @keyframes opacidade{
        0%{
            opacity: 0;
        }
        
        100%{
            opacity: 100;
        }

    }

