.containerDiv{
    width: 90%;
    height: 20vw;
    align-items: center;
    margin-left: 4vw;
    background-color: black;
    justify-content: center;
    h1{
        text-align: center;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
}

.texts{
    color: white;
    align-items: center;
    width: 90%;
    margin-left:2vw;
    
    h2{
        text-align: center;
    }
    p{
        text-align: justify;
        margin-top:4vw;
        width: 90%;
        font-size: 1.5rem;
        align-items: center;
    }
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}